<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="dark" hx-boost="true">

<head th:replace="fragments/layout.html :: headerfiles">
</head>

<body #body>

    <header th:replace="fragments/layout.html :: header"></header>

    <main class="mx-auto w-full">

        <form th:hx-post="${isEdit? '/genre/' + genre.id : '/genre'}" class="max-w-[50rem] mx-auto flex flex-col gap-2">
            <label class="input input-bordered flex items-center gap-2">
                Naziv
                <input class="grow" type="text" name="name" placeholder="Unesite naziv"
                    th:value="${genre != null && genre.name != null? genre.name: null}" />
            </label>
            <small data-error="name" class="hidden"></small>
            <label class="textarea textarea-bordered flex items-start gap-2">
                Opis
                <textarea class="grow" type="text" name="description" placeholder="Unesite opis"
                    th:value="${genre != null && genre.description != null? genre.description: null}"></textarea>
            </label>
            <small data-error="description" class="hidden"></small>

            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>

    </main>
</body>

</html>
